<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Digital Services Ranking</title>
<link rel="stylesheet" href="/css/details_style.css">
<link rel="stylesheet" href="/css/default_style.css">
</head>
<body>
	<header>
		<h1>
			<a th:href="@{/}">KOR_Polimeter</a>
		</h1>
		<nav>
			<ul>
				<li><a th:href="@{/login}">로그인</a></li>
				<li><a th:href="@{/logout}">로그아웃</a></li>
				<li><a th:href="@{/searching}">인물검색</a></li>
				<li><a th:href="@{/vote}">투표하기</a></li>
			</ul>
		</nav>
	</header>
	<div class="TNB">
		<hr>
		<h2>상세정보</h2>
		<hr>
	</div>
	<div class="profile-container">
		<div class="profile-image-container">
			<img src="https://via.placeholder.com/200" alt="Profile Picture"
				class="profile-image">
		</div>
		<div class="profile-details">
		    <p><span class="label">이름</span><span class="value">홍길동</span></p>
		    <p><span class="label">소속정당</span><span class="value">포도당</span></p>
		    <p><span class="label">지역선거구</span><span class="value">서울특별시</span></p>
		    <p><span class="label">출생날짜</span><span class="value">1980-01-01</span></p>
		    <p><span class="label">연령</span><span class="value">43세</span></p>
		    <p><span class="label">성별</span><span class="value">남성</span></p>
		</div>
		<div class="profile-description-container">
			<h3 id="profile-description">대표발의 의안</h3>
			<ul class="bill-list">
				<li>국가공무원법 일부개정법률안</li>
				<li>전교조 해직교원의 지위 원상회복에 관한 특별법안</li>
				<li>국회법 일부개정법률안</li>
			</ul>
		</div>
		<div class="back-container">
			<a href="searching.html" class="back-link">인물 목록으로 돌아가기</a>
		</div>
	</div>
	<hr>
	<div class="img-container">
		<div class="graph-container">
			<h3 class="img-title">인기도 변화</h3>
			<img src="https://via.placeholder.com/400x300"
				alt="Popularity Change Graph">
		</div>
		<div class="cloud-container">
			<h3 class="img-title">워드 클라우드</h3>
			<img src="https://via.placeholder.com/400x300" alt="Word Cloud">
		</div>
	</div>
	<footer>
		<p>Contact us at: sdg0896@gmail.com</p>
		<p>Github: https://github.com/KOR-Polimeter</p>
		<p>Website created in 2024.</p>
	</footer>

	<script>
	  document.addEventListener('DOMContentLoaded', () => {
	    const urlParams = new URLSearchParams(window.location.search);
	    const id = urlParams.get('id'); // id 파라미터를 가져옴
	
	    // 이 부분에서 id를 기반으로 상세 정보를 로딩하거나 표시
	    console.log(id); // 예시로 id를 콘솔에 출력
	  });
	</script>

</body>
</html>
