<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>소셜로그인 예제</title>
</head>
<body>
<div>
<div>
    <p><a th:href="${kakaoUrl}">카카오 로그인</a></p>
</div>

<!-- KakaoDTO 정보 표시 -->
<div>
    <h2>카카오 사용자 정보:</h2>
    <p th:text="${kakaoInfo}"><br>카카오 사용자 정보가 여기에 표시됩니다.</p>
</div>

<a href="https://kauth.kakao.com/oauth/logout?client_id=772c65da382eb8de1916b5771770e5e7&logout_redirect_uri=http://localhost:8080/logout">로그아웃</a>
</div>
</body>
</html>
