<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>KOR_Polimeter</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
	<link th:href="@{/css/main_style.css}" rel="stylesheet">
	<link th:href="@{/css/default_style.css}" rel="stylesheet">
</head>
<body>
<header>
	<h1><a th:href="@{/}">KOR_Polimeter</a></h1>
	<nav>
		<ul>
			<li>
				<form class="input-container" th:action="@{/searching}" method="post">
					<input type="text" name="query" placeholder="인물 검색하기" required>
					<button id="search-button" type="submit">
						<img src="/images/search_icon.png" alt="Search Icon">
					</button>
				</form>
			</li>
			<li><a th:href="@{/searching}">인물검색</a></li>
			<div class="vertical-line"></div>
			<!-- 카카오 로그인 URL은 컨트롤러에서 model에 추가한 kakaoUrl 값을 사용 -->
			<li><a th:if="${isLoggedIn == false}" th:href="${kakaoUrl}">카카오 로그인</a></li>
			<li>
				<a th:if="${isLoggedIn == true}" th:href="@{'https://kauth.kakao.com/oauth/logout?client_id=772c65da382eb8de1916b5771770e5e7&logout_redirect_uri=http://localhost:8080/logout'}">
					로그아웃
				</a>
			</li>
		</ul>
	</nav>
</header>
<div class="main_page">
	<p>국회의원 인기투표 사이트</p>
	<h2>당신의 선택은</h2>
	<div class="swiper-and-button-container">
		<div>
			<form action="/html/toppol.html" method="get">
				<button class="circle-button">
					<img src="/images/chart_icon.png" alt="Chart Icon">
					Top 10 실시간 인기도
				</button>
			</form>
		</div>
		<!-- Swiper -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img th:src="@{/images/politicians/국민의힘/권성동.jpg}" alt="Image 1"></div>
				<div class="swiper-slide"><img th:src="@{/images/politicians/더불어민주당/박찬대.jpg}" alt="Image 2"></div>
				<div class="swiper-slide"><img th:src="@{/images/politicians/조국혁신당/황운하.jpg}" alt="Image 3"></div>
				<div class="swiper-slide"><img th:src="@{/images/politicians/개혁신당/천하람.jpg}" alt="Image 4"></div>
				<div class="swiper-slide"><img th:src="@{/images/politicians/진보당/윤종오.jpg}" alt="Image 4"></div>
				<div class="swiper-slide"><img th:src="@{/images/politicians/기본소득당/용혜인.jpg}" alt="Image 4"></div>
				<div class="swiper-slide"><img th:src="@{/images/politicians/사회민주당/한창민.jpg}" alt="Image 4"></div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
		<div>
			<form th:action="@{/vote}" method="get">
				<button class="circle-button">
					<img src="/images/vote_icon.png" alt="Vote Icon">
					투표하러 가기
				</button>
			</form>
		</div>
	</div>
</div>
<footer>
	<p>Contact us at: sdg0896@gmail.com</p>
	<p>Github: https://github.com/KOR-Polimeter</p>
	<p>Website created in 2024.</p>
	<a href="https://www.flaticon.com/kr/free-icons/-" title="온라인 투표 아이콘">'온라인 투표' 아이콘 제작자: Freepik - Flaticon</a>
	<br>
	<a href="https://www.flaticon.com/kr/free-icons/" title="발견하다 아이콘">'발견하다' 아이콘 제작자: Smashicons - Flaticon</a>
	<br>
	<a href="https://www.flaticon.com/kr/free-icons/" title="그래프 아이콘">그래프 아이콘 제작자: Freepik - Flaticon</a>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
	const swiper = new Swiper('.swiper-container', {
		loop: true, 			// 루프 설정 (마지막 슬라이드가 지나면 첫 슬라이드로 이동)
		allowTouchMove: false, 	// 터치로 이동 비활성화
		slidesPerView: 'auto',
		centeredSlides: true,  	// 슬라이드를 중앙에 배치
		mousewheel: true,   	// 마우스 휠 사용 가능

		effect: 'coverflow',
		coverflowEffect: {
			rotate: 0,   // 비활성화 슬라이드 회전 정도
			stretch: 30, // 슬라이드끼리 겹치는 정도
			depth: 300,  // 3D 깊이감
			modifier: 1,
		},
		// 이미지 페이지네이션
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		// 자동 회전
		autoplay: {
			delay: 3000, // 3초마다 자동 슬라이드
		}
	});
</script>
</body>
</html>
