<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <link th:href="@{/css/main_style.css}" rel="stylesheet">
    <link th:href="@{/css/default_style.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <a th:href="@{/}">KOR_Polimeter</a>
    </h1>
    <nav>
        <ul>
            <li><a th:href="@{/login}">로그인</a></li>
            <li><a th:href="@{/logout}">로그아웃</a></li>
            <li><a th:href="@{/searching}">인물검색</a></li>
            <li><a th:href="@{/vote}">투표하기</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>검색 결과</h2>
        <ul class="search-results">
            <!-- 검색 결과를 반복하여 출력 -->
            <li th:each="result : ${results}" th:text="${result}"></li>
        </ul>
        <a th:href="@{/}" class="home-link">홈으로 돌아가기</a>
    </div>
</main>
<footer>
    <p>Contact us at: sdg0896@gmail.com</p>
    <p>Website created in 2024.</p>
</footer>
</body>
</html>