<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!--아직 지우지 마시오-->
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <link th:href="@{/css/main_style.css}" rel="stylesheet">
    <link th:href="@{/css/default_style.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <a th:href="@{/}">KOR_Polimeter</a>
    </h1>
    <nav>
        <ul>
            <li>
                <form class="input-container" th:action="@{/searching}" method="post">
                    <input type="text" name="query" placeholder="인물 검색하기" required>
                    <button id="search-button" type="submit">
                        <img src="/images/search_icon.png" alt="Search Icon">
                    </button>
                </form>
            </li>
            <li><a th:href="@{/searching}">인물검색</a></li>
            <div class="vertical-line"></div>
            <!-- 카카오 로그인 URL은 컨트롤러에서 model에 추가한 kakaoUrl 값을 사용 -->
            <li><a th:if="${isLoggedIn == false}" th:href="${kakaoUrl}">카카오 로그인</a></li>
            <li>
                <a th:if="${isLoggedIn == true}" th:href="@{'https://kauth.kakao.com/oauth/logout?client_id=772c65da382eb8de1916b5771770e5e7&logout_redirect_uri=http://localhost:8080/logout'}">
                    로그아웃
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>검색 결과</h2>
        <ul class="search-results">
            <!-- 검색 결과를 반복하여 출력 -->
            <li th:each="result : ${results}" th:text="${result}"></li>
        </ul>
        <a th:href="@{/static}" class="home-link">홈으로 돌아가기</a>
    </div>
</main>
<footer>
	<p>Contact us at: sdg0896@gmail.com</p>
	<p>Github: https://github.com/KOR-Polimeter</p>
	<p>Website created in 2024.</p>
</footer>
</body>
</html>